body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #e6e6e6; 
    margin: 20px;
}

h1 {
    color: #a020f0; 
    text-align: center;
}

h2, h3 {
    color: #39ff14; 
}

img {
    /*display: block;*/
    margin: 10px auto;
    width: 150px;
    height: auto;
    border: 4px solid #39ff14;
    border-radius: 12px;
    box-shadow: 0 0 15px #39ff14; 
}

ul, p {
    line-height: 1.6;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #111; 
    color: #e6e6e6;
}

th, td {
    border: 1px solid #444;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #1e1e1e;
    color: #ff69b4; }

a {
    color: #39ff14;
}

a:hover {
    text-decoration: underline;
    color: #a020f0;
}
